.form-content input{
  color: #3a3132;
  width: 68%;
  height: 30px;
  outline: none;
  padding: 5px;
}

.form-content button{
    align-content: center;
    padding: 12px 10px;
    margin: 0;
    border: none;
    width: 30%;
    cursor: pointer;
    background-color: #009ddd;
    color: #fff;
    box-shadow: 0px 0px 10px 1px rgba(93,209,255,0.40);
    transition: 1s ease;
  }


.form-content button:disabled{
  color: rgba(245, 222, 179, 0.651);
  box-shadow: none;
  background-color: #275dad;
  cursor: not-allowed;
}
.form-content{
    display: flex;
    justify-content: space-between;
    align-items:start;
    padding: 10px 0;
}

.form{
  height: 90px;
}

.form-error{
  color: rgb(173, 36, 36);
  font-size: 11px;
  letter-spacing: 2px;
 font-family: Helvetica, sans-serif;
}