.task{
    margin-bottom: 10px;
    width: 100%;
    cursor: pointer;
    padding: 10px 0;
    border-bottom: 1px solid #386dbd;
    display: flex;
    justify-content: space-between;
}
.task i{
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #009ddd;
    border-radius: 50%;
}
.task i:hover{
box-shadow: 0px 0px 10px .5px rgba(93, 209, 255, 0.28);
background-color: #009ddd;
color: #0f4571;
}

.task .editTask{
    transition: 1s ease-in;
    color: #fff;
    width:320px;
    resize:none;
    height: 200px;
    word-wrap: break-word;
    outline: none;
    background-color: #0f4571;
    border:1px solid #009ddd;
}

.task>.saveIcon{
    padding: 0 10px;
    width: auto;
    display: flex;
    align-items: center;
}


#taskText{
    max-width: 250px;
    word-wrap: break-word;
}

.hidden{
    overflow: hidden;
    max-height: 20px;
}